:root {
    --general-width: 80%;
    --primary-color: #5B9B5A;
    --secondary-color:#4D869B;
}

* {
    padding: none;
    margin: none;
    font-family: "Montserrat Alternates", sans-serif;
}

html,body {
    overflow-x: hidden;
}

body {
    text-align: justify;
    margin: 0;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
}

main div {
    padding: 20px;
}

h1 {
    font-size: 100px;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 46px;
    text-align: center;
}

h3 {
    font-size: 34px;
}

p {
    font-size: 24px;
}

li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

a {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
    text-decoration: none;
}

.container {
    width: 100%;
}

.content-alignment {
    width: var(--general-width);
    margin: auto;
}

.container-gedmatch-day {
    background-color: white;
}

.container-gedmatch-day div {
    padding: 0;
}

.wrapper-img-pane {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-pane {
    margin: auto 0 auto auto;
    padding: 0;
}

.right-pane {
    margin: auto auto auto 0;
    padding: 0;
}

.caption-text {
    text-align: justify;
    font-size: 14px;
    width: 65%;
}

.img-gedmatch-day-teaser {
    height: 540;
    width: 540;
}

.container-welcome {
    background-color: var(--secondary-color);
}

.container-welcome div {
    color: white;
}

.container-dna-testing {
    background-color: white;
}

.container-whats-gedmatch {
    background-color: #4D869B;
    color: white;
}

.gedmatch-instructions-link {
    text-align: center;
}

.gedmatch-instructions-link a {
    color: white;
    text-decoration: underline;
}

.img-gedmatch {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

.container-how-to-download {
    background-color: white;
}

.container-how-to-download div {}

.how-to-download-list {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

.how-to-download-list li {
    transition: background-color 0.3s;
    background-color: black;
    color: white;
    border-radius: 39px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.how-to-download-list li:hover {
    transition: background-color 0.3s;
    background-color: white;
    color: var(--primary-color);
}

.how-to-download-list li:active {
    transform: scale(0.9);
}

.container-how-to-upload {
    background-color: var(--secondary-color);
    color: white;
}

.container-how-to-upload button {
    background-color: var(--primary-color);
    border-radius: 39px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: auto;
}

.container-how-to-upload a {
    text-decoration: none;
}

.wrapper-download-from {
    display: none;
}

.reveal-method {
    display: flex;
    flex-direction: column;
}

.reveal {
    display: block !important;
}

.twentythreeandme {}

.twentythreeandme a {
    padding-bottom: 25px;
}

.twentythreeandme img {
    height: 600px;
    width: 600px;
    margin: auto;
}

.ancestry {}

.myheritage {}

.ftdna {}

.container-how-to-read-gedmatch-matches {
    background-color: white;
}

.container-how-to-read-gedmatch-matches button {
    background-color: var(--primary-color);
    border-radius: 39px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: auto;
}

.container-how-to-read-gedmatch-matches a {
    color: white;
}

.container-need-help {
    text-align: center;
    background-color: var(--secondary-color);
    /* width: 100%; */
    color: white;
    padding: 20px;
}

/* .wrapper-need-help {
    margin: 0;
} */

.container-need-help button {
    background-color: var(--primary-color);
    border-radius: 39px;
    border: none;
    padding: 10px 20px;
}

.container-need-help a {
    color: white;
}

.container-script-for-top-10 {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
}

#display-script-button {
    background-color: var(--primary-color);
    border-radius: 39px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: auto;
    color: white;
    cursor: pointer; 
    font-size: 24px;
}

#script {
    display: none;
}

.script-copy-button {
    background-color: var(--primary-color);
    border-radius: 39px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: auto;
    color: white;
    cursor: pointer; 
    font-size: 20px;
}

.container-adoptee-img-pane {}

.adoptee-img-pane-caption {
    text-align: center;
    font-size: 14px;
    margin: auto;
    width: 80%;
}

.img-zhejiang-adoptee {
    height: 534px;
    width: 534px;
}

.container-joint-effort {
    background-color: white;
}

.container-icsa {
    display: flex;
    margin-left: 0 !important;
    padding-bottom: 0;
}

.container-icsa img {
    width: 300px;
    height: 150px;
}

.container-ncpt {
    display: flex;
    margin-left: 0 !important;
    padding-bottom: 0;
}

.container-ncpt img {
    width: 200px;
    height: 200px;
}

.container-rol {
    display: flex;
    margin-left: 0 !important;
    padding-bottom: 0;
}

.container-rol img {
    width: 300px;
    height: 150px; 
}

.container-aka img {
    width: 150px;
    height: 150px;
}

.email {
    margin: 0;
}

.container-social-icons {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 0 !important;
    padding-left: 0;
    gap: 15px;
}

.social-icons {
    height: 30px;
    width: 30px;
}

.facebook-icon {
    filter: invert(32%) sepia(42%) saturate(5008%) hue-rotate(206deg) brightness(103%) contrast(90%);
}

.insta-icon {
    filter: invert(57%) sepia(81%) saturate(6633%) hue-rotate(330deg) brightness(89%) contrast(112%);
}

.tiktok-icon {
    /* filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2); */
}

.container-guest-speaker {
    text-align: center;
    background-color: var(--secondary-color);
    width: 100%;
    color: white;
}

.container-guest-speaker h2 {
    margin-bottom: 5px;
}

.wrapper-speaker {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    gap: 5rem;
    border-radius: 5px;
    align-items: center;
    text-align: justify;
}

.speaker-subheader {
    font-size: 28px;
    font-weight: 900;
}

.img-speaker {
    height: 300px;
    width: 230px;
    border-radius: 5px;
}

.iframe-google-form {
    margin: auto;
}

@media (max-width: 1050px) {
    .img-pane {
        height: 400px;
        width: 400px;
    }
}